.questions {
  min-height: 32rem;
  height: 100%;
  width: 80%;
  margin: 0rem auto 20%; /* margin bottom tem que ser igual ou parecido ao tamanho do footer*/
}

/*font-size la de dentro*/
.content p {
  font-size: 1.5rem;
}

.firstline {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
  overflow: visible;
  z-index: 1;
  margin-bottom: 1rem;
  height: fit-content;
  min-width: 0;
  min-height: 0;
  line-height: 150%;
}

.firstline a {
  line-height: 150%;
}

/*acordião dentro*/
.accordion {
  cursor: pointer;
  text-align: left;
  justify-content: space-between;
  margin-bottom: 1.8rem;
  border: 0.4rem solid var(--green);
  border-radius: 1.3rem;
  background: var(--green);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.15);

  outline: none;
  overflow: visible;
  width: 100%;
  height: fit-content;
}

.accordion-total {
  height: 100%;
  margin-bottom: 4rem;
}

.accordion:hover {
  background-color: rgb(155, 252, 106) 279;
}
.accordion a {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 0.1rem;
  font-size: 1.75rem;
  line-height: 0rem;
  font-weight: 700;
}
/*texto la dentro*/
.content {
  display: none;
  padding-left: 4rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.setadown {
  margin-right: 2rem;
  transition: 0.4s ease-in-out;
}

/*when click*/
.accordion.active .content {
  display: flex;
  flex-direction: column;
}

.accordion.active {
  background: transparent;
}

.accordion.active .setadown {
  transform: rotate(-180deg);
}
