footer {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7rem;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 2rem;
  background-color: var(--green);
  z-index: 10;
  opacity: 0;

  transition: 0.4s ease-in-out;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.showfooter {
  opacity: 100%;
  transition: 0.4s ease-in-out;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}

.je-contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
}

.je-contact:last-child {
  margin-bottom: 0rem;
}

.je-contact p {
  margin-right: 0.5rem;
}

.made-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.je-logo-footer {
  margin-bottom: 0.5rem;
}

.je-logo-footer img {
  height: 2.5rem;
}

.collab {
  justify-self: end;
  width: 70%;
}

.title-footer {
  margin-bottom: 0.9rem;
  font-size: 2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-variant: small-caps;
  line-height: 1.6rem;
}

.text-footer {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
}

.partners {
  width: 83px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.middlerow {
  display: flex;
  margin-top: 0.5rem;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
}

.partner {
  width: 83px;
  margin-right: 0;
}

.lastrow {
  margin-top: 1.5rem;
  width: 50%;
}

@media screen and (max-width: 1000px) {
  footer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }

  .contacts,
  .collab {
    text-align: center;
    justify-self: center;
  }

  .contacts p {
    margin-right: 0rem;
  }

  .partners {
    margin: auto;
  }
}
