header {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

header>img {
  height: 3rem;
}

nav a {
  margin-right: 3rem;
  color: var(--purple);
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav a:last-child {
  margin-right: 0rem;
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--purple);
  border-radius: 2rem;
  background-color: var(--purple);
  color: var(--white);
  transition: 0.2s ease-in-out;
}

nav a:last-child:hover {
  background-color: var(--white);
  color: var(--grey);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  header > img {
    height: 2rem;
  }

  nav {
    display: none;
  }

  .menu-toggle {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
  }

  .menu-toggle.on .one {
    background-color: var(--white);
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-toggle.on .two {
    opacity: 0;
  }

  .menu-toggle.on .three {
    background-color: var(--white);
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
  }

  .one,
  .two,
  .three {
    width: 100%;
    height: 5px;
    background-color: var(--purple);
    margin: 6px auto;
    backface-visibility: hidden;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  header ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0rem;
  }

  header ul.hidden {
    display: none;
  }

  header ul a {
    display: block;
    padding: 1rem 0rem;
    color: var(--white-color);
    font-size: 2rem;
    text-decoration: none;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  header ul a:hover {
    text-decoration: underline;
  }

  .menu-section.on {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    background-color: var(--purple);
    position: fixed;
    left: 0;
    top: 0;
  }
}

@media screen and (min-width: 1000px) {
  header ul,
  .menu-section {
    display: none;
  }
}