body {
  background-color: var(--black);
  background-image: url("../resources/bg.png");
  background-size: contain;
  height: 100%;
}

.brand {
  width: 85%;
  display: flex;
  justify-content: space-around;
  margin: 8em auto 3rem;
}

.brand-info {
  margin-top: 4rem;
  width: 40%;
}

.brand-info > div {
  margin-bottom: 3rem;
}

.brand-links {
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--green);
  border-radius: 2rem;
  background-color: var(--green);
  letter-spacing: 0.05em;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.brand-links:hover {
  background-color: var(--white);
  color: var(--grey);
}

.imgContainer {
  width: 34.5%;
  height: auto;
}

.imgContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.description {
  min-height: 98rem;
  height: 98rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20rem;
}

.where {
  width: 55%;
  height: 100%;
}

.who {
  width: 100%;
  margin-top: 4rem;
}
.what,
.who-organizers {
  width: 100%;

  display: inline-flex;
  justify-content: space-evenly;
}

.where-info {
  width: 75%;
  text-align: right;
  margin-top: 23%; /*dont change, para o ecrã ficar centrado com a anchor*/
}
/*new*/
.what-info,
.who-info {
  margin: 3rem auto 3rem;
}

.what-img {
  background-image: url("../resources/pcs.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.where-img {
  position: relative;
  width: 100%;
  z-index: -1;
}
.where-img img {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: auto;
  width: 54%;
}

.je-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw / 4);
  padding: 1.5rem;
}

.je-logo {
  height: 13rem;
}

.je-title {
  margin: 2rem 0rem;
  font-size: 2rem;
  color: var(--white);
}

.je-desc {
  font-weight: normal;
  font-size: 0.9rem;
  margin-top: 2.5rem;
  color: var(--white);
  text-align: center;
}

.menu-overflowY {
  overflow-y: hidden;
}

.navigation {
  display: none;
}

@media screen and (max-width: 1000px) {
  .where-info {
    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 75%;
    text-align: left;
  }
  .where-img {
    margin-left: 0rem;
    margin-top: 2rem;
    bottom: 0px;
  }
  .where-img img {
    position: absolute;
    height: auto;
    width: 70%;
  }

  .je-info {
    width: calc(100vw / 3.5);
  }
}

@media screen and (max-width: 1000px) {
  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .where {
    width: 100%;
  }

  .title-description {
    line-height: 2.2rem;
  }

  .je-desc {
    text-align: center;
    margin-top: 1.2rem;
  }

  .description {
    min-height: 130rem;
    height: 120rem;
    align-items: flex-start;
  }

  .imgContainer {
    width: 95%;
    height: auto;
  }

  .brand-info {
    margin-top: 5rem;
    width: 90%;
  }

  .who-organizers {
    flex-direction: column;
    margin-top: 2rem;
  }

  .je-info {
    width: calc(100% - 3rem);
  }

  .je-info:first-child {
    margin-bottom: 2rem;
  }

  .firstline {
    overflow: visible;
    overflow-wrap: break-word;
    height: 80%;
    margin-top: 0rem;
  }

  .firstline a {
    overflow: visible;
    text-overflow: clip;
    white-space: pre-wrap;
    font-weight: 800;
    line-height: 150%;
    margin-top: 0rem;
  }

  .accordion {
    overflow: visible;
    height: auto;
    border: 0.4rem solid var(--green);
    min-height: 1.2rem;
    width: 100%;
  }
}

@media screen and (max-width: 310px) {
  .description {
    min-height: 145rem;
  }
}
