.brand {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 8rem auto 0rem;
}

.brand-info>div {
  margin-bottom: 3rem;
}

.brand-links {
  padding: 0.5rem 1rem;
  border: 0.25rem solid var(--purple);
  border-radius: 2rem;
  background-color: var(--purple);
  letter-spacing: 0.05em;
  font-size: 1.5rem;
  font-variant: small-caps;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.brand-links:hover {
  background-color: var(--white);
  color: var(--grey);
}

.brand-image {
  width: 50%;
  height: 550px;
  background-image: url("../resources/graphic.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  min-height: 150rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../resources/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  width: 80%;
  margin: 0 auto 8rem;
}

.info:last-child {
  margin: 0 auto;
}

.what,
.where,
.who-organizers {
  display: flex;
  justify-content: space-between;
}

.what-info,
.where-info,
#map, .what-img {
  width: 45%;
}

.what-img {
  background-image: url("../resources/image.png");
}

.who-organizers {
  justify-content: space-around;
  margin-top: 5rem;
}

.je-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw/4);
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.je-logo {
  height: 8rem;
}

.je-title {
  margin: 2rem 0rem;
  font-size: 2rem;
  color: var(--purple);
}

.je-desc {
  font-weight: normal;
  font-size: 1rem;
  color: var(--grey);
}

.menu-overflowY {
  overflow-y: hidden;
}

.navigation {
  display: none;
}

@media screen and (max-width: 1000px) {

  .what-img,
  #map,
  .brand-image {
    display: none;
  }

  .what-info,
  .where-info,
  #map {
    width: 100%;
  }

  .je-info {
    width: calc(100vw/3.5);
  }
}

@media screen and (max-width: 768px) {
  .brand {
    margin: 6rem auto 0rem;
  }

  .info {
    margin: 0rem auto 3rem;
  }

  .who-organizers {
    flex-direction: column;
    margin-top: 2rem;
  }

  .je-info {
    width: calc(100% - 3rem);
  }

  .je-info:first-child {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 330px) {
  .description {
    min-height: 160rem;
  }
}